body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, monospace;
	font-size: 16px;
	background: #ededed;
	color: #ededed;
}

/* Header style */
.header {
	width: 100%;
	height: 70px;
	text-align: center;
	font-family: monospace;
	font-size: 40px;
	background: #47b6ff;
}

#home{
	content: Главная;
	text-decoration: none;
	color: white;
	float: left;
	padding: 10px 55px 20px 10px;
	width: 40px;
	height: 40px;
	transition: 0.3s;
	border-right: 2px solid white;
}
/*header's shadow */
.header {

}

.header span{
	text-align: center;
	line-height: 60px;
}

.inputs input{
	float: right;
	margin: 4px;
	text-align:center;
	background: #ebebeb;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}	
.inputs li {
	display:table-row;
	text-align:center;
	list-style-type: none;  
}
.inputs span{
	margin: 0px 0px 0px 250px;
	float: right;
	font-size: 20px;
	color: black;
}

#mark{
	text-align:right;
	font-size: 20px;
	color: black;

}


.menu li{
	margin: 10px;
	padding: 0px;
	list-style-type: none;  
	transition: 0.1s all;
	text-align: center;
}

.menu a{ 
	padding: 0px 50px;
	font-size: 50px;
	text-decoration: none;
	color: #ebebeb;
	border-radius: 3px;
	background: #47b6ff;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}

.menu a:hover {
	background: #9ed8ff;
	transform: scale(1.55, 1.55);
	transition: 0.5s all;
}

.menu li:active {
	transform: scale(1.25, 1.25);
	transition: 0.1s;
}

#home:hover {
	border-right: 2px solid #0065a8;
	color: #0065a8;
}
